<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COVERNAT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://covernat.net/web/upload/favicon_20191015110246.ico"
          sizes="180x180">
    <link rel="icon" href="https://covernat.net/web/upload/favicon_20191015110246.ico" sizes="32x32"
          type="image/png">
    <link rel="icon" href="https://covernat.net/web/upload/favicon_20191015110246.ico" sizes="16x16"
          type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://covernat.net/web/upload/favicon_20191015110246.ico"
          color="#712cf9">
    <link rel="icon" href="https://covernat.net/web/upload/favicon_20191015110246.ico">
    <meta name="theme-color" content="#712cf9">
    <style>
        .thumbnail-container {
            width: 100px; /* 이미지 컨테이너의 고정된 너비 */
            height: 100px; /* 이미지 컨테이너의 고정된 높이 */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .thumbnail-container img {
            width: auto; /* 이미지의 가로 너비를 자동으로 설정 */
            height: 100%; /* 이미지의 최대 세로 높이를 100%로 설정 */
        }

        .product-link {
            display: block;
            text-align: center;
            text-decoration: none;
            color: inherit;
        }

        .product-link:hover {
            text-decoration: underline;
        }

        /* 추가된 스타일 */
        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px; /* 버튼과 테이블 사이의 간격 조절 */
        }

        .btn-container button {
            flex: 1; /* 버튼이 컨테이너의 남은 공간을 모두 차지하도록 수정 */
            margin: 0 100px; /* 양쪽 마진을 추가하여 화면 바깥쪽과 여백 조절 */
        }
    </style>
</head>
<body>

<div>
    <th:block th:replace="header :: headerFragment"></th:block>
</div>

<div class="container mt-4">
    <h2>Cart</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Option</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${carts}">
                    <td class="align-middle text-center"><input th:type="checkbox" th:name="cb-cart"
                                                                th:value="${cart.cartId}"></td>
                    <td class="align-middle text-center">
                        <div class="thumbnail-container">
                            <!-- 이미지를 감싸는 링크 -->
                            <a th:href="@{/product/v1/{productCode}(productCode=${cart.productCode})}"
                               class="product-link" th:name="product-code" th:data-code="${cart.productCode}"></a>
                            <!-- 이미지 태그 -->
                            <img th:src="${cart.thumbnail}">
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        <a th:name="product-name"
                           th:href="@{/product/v1/{productCode}(productCode=${cart.productCode})}"
                           th:text="${cart.productName}" th:data-name="${cart.productName}" class="product-link"></a>
                    </td>
                    <td class="align-middle text-center" th:name="option" th:data-option="${cart.option}"
                        th:text="${cart.option}"></td>
                    <td class="align-middle text-center" th:name="quantity" th:data-quantity="${cart.quantity}"
                        th:text="${cart.quantity}"></td>
                    <td class="align-middle text-center" th:name="price" th:data-price="${cart.price}"
                        th:text="|₩ ${cart.price}|"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 버튼 컨테이너 추가 -->
    <div class="btn-container">
        <button class="btn btn-success btn-lg" id="sbm-deleteCart-btn">Remove</button>
        <button class="btn btn-primary btn-lg" id="sbm-orders-btn">Checkout</button>
    </div>
</div>

<div>
    <th:block th:replace="footer :: footerFragment"></th:block>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('.thumbnail-container').click(function () {
            window.location.href = $(this).find('.product-link').attr('href');
        });
    });

    /* 삭제 버튼 */
    $('#sbm-deleteCart-btn').click(function () {
        callDeleteCartApi(true);
    });

    function callDeleteCartApi(isAlert) {
        let checkbox = $("input:checkbox[name='cb-cart']:checked");
        if (checkbox.length === 0) {
            alert("선택된 항목이 없습니다.")
            return;
        }

        let sendData = new Object();
        sendData.cartIds = [];
        checkbox.each(function () {
            sendData.cartIds.push($(this).val());
        })

        $.ajax({
            type: 'post',
            async: false,
            url: '/cart/v1/delete',
            data: JSON.stringify(sendData),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                if (isAlert) {
                    alert("장바구니에서 삭제되었습니다.");
                    location.reload();
                }
            }
        });
    }

    /* 주문 버튼 */
    $('#sbm-orders-btn').click(function () {
        let checkbox = $("input:checkbox[name='cb-cart']:checked");
        if (checkbox.length === 0) {
            alert("선택된 항목이 없습니다.")
            return;
        }

        let sendData = new Object();
        sendData.deliveryFee = 3000;
        sendData.promotionDiscount = 0;
        sendData.paymentType = 'CARD';
        sendData.totalPrice = 0;
        sendData.totalQuantity = 0;
        sendData.ordersDetails = [];

        checkbox.each(function () {
            let detail = new Object();
            let row = $(this).closest('tr');
            detail.productCode = row.find('[name="product-code"]').data('code');
            detail.productName = row.find('[name="product-name"]').data('name');
            detail.option = row.find('[name="option"]').data('option');
            detail.quantity = row.find('[name="quantity"]').data('quantity');
            detail.originPrice = row.find('[name="price"]').data('price');
            detail.finalPrice = detail.originPrice * detail.quantity;
            sendData.totalPrice += detail.finalPrice;
            sendData.totalQuantity += detail.quantity;
            sendData.ordersDetails.push(detail);
        })
        console.log(sendData);

        $.ajax({
            type: 'post',
            async: false,
            url: '/orders/v1',
            data: JSON.stringify(sendData),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                callDeleteCartApi(false);
                window.location.href = "/orders/v1/" + data.orderToken;
            }
        });
    })
</script>

</body>
</html>
