<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/apple-touch-icon.png"
          sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32"
          type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16"
          type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/safari-pinned-tab.svg"
          color="#712cf9">
    <link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">
    <style>
        .thumbnail-container {
            width: 100px; /* 이미지 컨테이너의 고정된 너비 */
            height: 100px; /* 이미지 컨테이너의 고정된 높이 */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .thumbnail-container img {
            width: auto; /* 이미지의 가로 너비를 자동으로 설정 */
            height: 100%; /* 이미지의 최대 세로 높이를 100%로 설정 */
        }

        .product-link {
            display: block;
            text-align: center;
            text-decoration: none;
            color: inherit;
        }

        .product-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div>
    <th:block th:replace="header :: headerFragment"></th:block>
</div>

<div class="container mt-4">
    <h2>Cart</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Option</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${carts}">
                    <td class="align-middle text-center"><input th:type="checkbox"></td>
                    <td class="align-middle text-center">
                        <div class="thumbnail-container">
                            <!-- 이미지를 감싸는 링크 -->
                            <a th:href="@{/product/v1/{productCode}(productCode=${cart.productCode})}"
                               class="product-link"></a>
                            <!-- 이미지 태그 -->
                            <img th:src="${cart.thumbnail}">
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        <a th:href="@{/product/v1/{productCode}(productCode=${cart.productCode})}"
                           th:text="${cart.productName}" class="product-link"></a>
                    </td>
                    <td class="align-middle text-center" th:text="${cart.option}"></td>
                    <td class="align-middle text-center" th:text="${cart.quantity}"></td>
                    <td class="align-middle text-center" th:text="${cart.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <th:block th:replace="footer :: footerFragment"></th:block>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('.thumbnail-container').click(function () {
            window.location.href = $(this).find('.product-link').attr('href');
        });
    });
</script>

</body>
</html>
